body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:  #272727;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Evolventa', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ol, ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, button {
  padding: 0;
  margin: 0;
}

img{
  display: block;
}

a{
  text-decoration: none;
}


@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-Bold'), local('Evolventa-Bold'),
      url('../fonts/Evolventa/Evolventa-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-BoldObligue'), local('Evolventa-BoldObligue'),
      url('../fonts/Evolventa/Evolventa-BoldOblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-Oblique'), local('Evolventa-Oblique'),
      url('../fonts/Evolventa/Evolventa-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-Regular'), local('Evolventa-Regular'),
      url('../fonts/Evolventa/Evolventa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}