.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    position: relative;
    width:300px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1; 
    border-radius: 4px;
    box-shadow: rgba(200, 200, 200, 0.25) 0px 54px 55px, rgba(200, 200, 200, 0.12) 0px -12px 30px, rgba(200, 200, 200, 0.12) 0px 4px 6px, rgba(200, 200, 200, 0.17) 0px 12px 13px, rgba(200, 200, 200, 0.09) 0px -3px 5px;
}
  
 .content{
    text-align: center;
  }

.infoText{
    color: #fff; 
    font-style: normal;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
}

 