.card{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 50%;
    background-color: black;
}

  /* .cardBtn{
    position: absolute;
    bottom: 0;
    right: 0;
  } */

.cardImg{
  object-fit:scale-down;
  width: 100%;
  height: 100%;
}

.cardBtn{
  position: absolute;
  bottom: 5px;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: transparent;
  border: none;
}

.cardButtonIcon{
  width: 26px;
  height: 26px;
}

@media screen and (min-width: 768px) {
.cardButtonIcon{ 
    width: 46px;
    height: 46px;
  }
  
  .cardBtn{
    bottom: 10px;
    right: 5px;
  }
}
