.card{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 50%;
    background-color: black;
}

.cardImg{

  object-fit:scale-down;
  width: 100%;
  height: 100%;
}

.cardBtn{
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: transparent;
  border: none;

}

.cardButtonIcon{
  width: 26px;
  height: 26px;
}

.cardBtnArrowDown{
  position: absolute;
  bottom: 5px;
  left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
.cardButtonIcon{ 
    width: 46px;
    height: 46px;
  }
  
  .cardBtn{
    bottom: 10px;
    right: 10px;
  }
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  cursor: pointer;
  opacity: 1;
  transition: all 0.5s ease;
}

.arrowUp {
  border-bottom: 25px solid yellow;
  top: 2rem;
}

.arrowDown {
  border-top: 25px solid yellow;
  bottom: 2rem;
}

.arrowHidden {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .arrow {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  .arrowUp {
    border-bottom: 15px solid yellow;
    top: 1rem;
  }

  .arrowDown {
    border-top: 15px solid yellow;
    bottom: 1rem;
  }
}