.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  color: rgba(248, 211, 47, 0.9);
  border: none;
  outline: none;
  border-radius: 6px; 
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

  .btn:hover{
    border: 1px solid rgba(224, 209, 143, 0.2);
    box-shadow: rgb(226 214 214 / 15%) 0px 2px 8px;
    transform: scale(1.15);
  }

  @media screen and (max-width: 768px) {
    .btn:hover{
      background-color:inherit;
    }
   
    }
