.btn {
  /* padding: 6px 8px; */
  /* width: 80px; */
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  font-weight: 600;
  font-family: 'Evolventa';
  background-color: transparent;
  color: rgba(248, 211, 47, 0.9);

  border: none;
  outline: none;
  border-radius: 6px; 
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

}

  .btn:hover{
    /* color:rgba(248, 211, 47, 0.9);; */
    transform: scale(1.15);
  }

  /* @media screen and (min-width: 768px) {
    .btn {
      width: 120px;
      font-size: 16px;
    }
  } */