.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* margin: 0 10px; */
}

.titleWrapper{
  padding-top: 140px;
  padding-bottom: 20px;
}

.title{
  height: 135px;
text-align: center;
font-family: 'Evolventa';
font-weight: 700;
font-size: 32px;
letter-spacing: 1.3px;
line-height: 45px;
text-transform: uppercase;

color: #FFFFFF;
transition: 1s;
}


.AppVertical{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

/* @media screen and (max-width: 767px) {
  .title{
    font-size: 52px;
    line-height: 85px;
    letter-spacing: 2px;
    }

} */


@media screen and (min-width: 768px) {
  .titleWrapper{
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .title{
    height: 170px;
    font-size: 52px;
    line-height: 85px;
    letter-spacing: 2px;
    }

}

@media screen and (min-width: 1366px) {
  .titleWrapper{
    padding-top: 20px;
    padding-bottom: 70px;
  }

  .title{
    height: 85px;
    font-size: 52px;
    line-height: 85px;
    letter-spacing: 2px;
    }

}

@media screen and (min-width: 1920px) {
  .titleWrapper{
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .title{
    font-size: 64px;
    line-height: 85px;
    letter-spacing: 2px;
    }
    
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-Bold'), local('Evolventa-Bold'),
      url('./fonts/Evolventa/Evolventa-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-BoldObligue'), local('Evolventa-BoldObligue'),
      url('./fonts/Evolventa/Evolventa-BoldOblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-Oblique'), local('Evolventa-Oblique'),
      url('./fonts/Evolventa/Evolventa-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Evolventa';
  src: local('Evolventa-Regular'), local('Evolventa-Regular'),
      url('./fonts/Evolventa/Evolventa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Carolina';
  font-style: normal;
  font-weight: 400;
  src: local('Carolina'), local('Carolina-Regular'),
      url(http://allfont.ru/cache/fonts/carolina_a6833d8b794dcdacf77a402d9e3345e6.woff) format('woff'),
      url(http://allfont.ru/cache/fonts/carolina_a6833d8b794dcdacf77a402d9e3345e6.ttf) format('truetype');
}